@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$height: 60px;

.select {
    width: 100%;
    position: relative;
    z-index: 1000;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;

    &.open {
        .select-dropdown {
            display: block;
        }

        .select-input {
            border-bottom: none;
        }

        .select-backdrop {
            display: block;
        }
    }

    &-backdrop {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: -1;
    }

    &-input {
        position: relative;
        padding: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #cccccc;
        border-radius: 5px;
        height: $height;
        cursor: pointer;

        &-text {
            overflow: hidden;
        }

        i {
            position: absolute;
            top: 53%;
            transform: translateY(-50%);
            right: 1%;
        }
    }

    &-dropdown {
        display: none;
        position: absolute;
        top: $height;
        left: 0;
        right: 0;
        max-height: 200px;
        border: 2px solid #cccccc;
        border-radius: 5px;
        overflow-y: auto;
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    }

    &-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-bottom: 2px solid #cccccc;

        &.selected {
            background-color: rgb(248, 233, 214);
        }

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: #eeeeee;
            cursor: pointer;
            transition: 0.2s background-color;
        }
    }
}